<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<div class="container">
  <div id="text">
    <h1>Quem Somos</h1>
    <p>O Studio Kallas, um refúgio dedicado à elevação da beleza e autoconfiança. Nossa história é entrelaçada com a
      paixão pelo setor e o compromisso inabalável com a excelência. Do atendimento excepcional às últimas tendências,
      cada serviço é uma obra-prima que realça a sua beleza natural. Mas não somos apenas um estúdio, somos um espaço de
      colaboração. Além de atender nossos clientes com perfeição, também proporcionamos salas para aluguel, permitindo
      que talentosos profissionais compartilhem sua arte com o mundo em um ambiente acolhedor e inspirador.
    </p>

    <p>O Studio de Beleza Kallas é mais que beleza; é um destino de transformação e comodidade. Aqui, a paixão encontra
      expertise e cada interação é um passo em direção à sua melhor versão. Seja mimada por nossos serviços ou torne-se
      parte da família de colaboradores, o Kallas é um lugar onde a beleza prospera e se compartilha. Venha nos visitar
      e faça parte dessa jornada de beleza e empoderamento.
    </p>
  </div>

  <h1 id="espaco">Nosso Espaço</h1>

  <div id="photos">
    <mat-card class="example-card">
      <mat-card-header class="card-title">
        <mat-card-title>Salão de Beleza</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="salao1" alt="Photo of a Shiba Inu">
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header class="card-title">
        <mat-card-title>Estética corporal e facial</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="kallas1" alt="Photo of a Shiba Inu">
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header class="card-title">
        <mat-card-title>Recepção</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="kallas2" alt="Photo of a Shiba Inu">
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header class="card-title">
        <mat-card-title>Esmalteria</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="kallas4" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
</div>