.container {
    background-color: #380030;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#contato {
    margin: 0px auto;
    padding: 10px;
}
#contato h1 {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
}
.social_media {
    width: 190px;
    margin: 7px;
    margin-top: 18px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid rgba(255, 254, 254, 0.123);
    transition: background-color 2.54s;
}
.social_media:hover {
    background-color: white;
}
#img-wpp {
    width: 100%;
}
#maps {
    margin-left: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#maps h1 {
    padding-top: 15px;
    text-align: center;
    color: white;
    font-size: 30px;
}
@media screen and (max-width: 741px) {
    #contato {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .social_media {
        width: 120px;
    }
    #maps {
        width: 100%;
        margin: 0px;
    }
    #maps iframe {
        width: 365px;
    }
}
@media screen and (max-width: 1028px) and (min-width: 741px) {
    #contato {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .social_media {
        width: 150px;
    }
    #maps {
        width: 100%;
        margin: 0px;
    }
    #maps iframe {
        width: 700px;
    }
}
